/*
Colores & tipografía:
Verde - #ABE188;
Rosa - #F78E69;
font-family: 'Raleway', sans-serif;
*/

/* Escribe tu código acá debajo */

/*para ceterar*/
*{
  margin: 0px;
  background: #F78E69;;
  border: 0px;
  box-sizing: border-box;
  color: white;
  font-family: 'Raleway', sans-serif;

}
/*solo afecta al header y footer*/
header, footer{
  text-align: right;
  padding: 20px
}

p{
  font-size: 0.8em;
}
/*Love Love*/
.panda{
  text-align: center;
  width: 48%;
  padding: 50px;
  margin: 0 auto;
}
/*imagenes grandes*/
.about-panda{
  padding: 50px 30px;
  background: #ABE188;
  text-align: center;
  border-top: 10px solid #F78E69 ;
  border-bottom: 10px solid #F78E69 ;
}
/*imagnes insertados desde javascript*/
.cssimagen{
  margin: 20px;
  border: 10px solid white;
}

/*afecta a las imags*/
.img-oso{
width: 100%;
filter: grayscale(100%);
}

#h1{
  background: #ABE188;
  font-size: 50px;
}


#imagenes{
  background: #ABE188;
  text-align: center;
}

.oso {
  font-size: 0px;
  border-top: 10px solid #F78E69;
  border-bottom: 10px solid #F78E69;
}